*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    font-family: Calibri;
    color: aliceblue;
 }
 
#container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 21fr 1fr;
    grid-template-rows: 1fr 21fr 1fr;
    background-color: #212121;
}

#content{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 250px 6fr;
    grid-template-rows: 50px 175px 125px 2fr 2fr;
    grid-gap: 10px;
}

#imageWrapper{
    grid-column: 1/2;
    grid-row: 1/4;
    cursor: pointer;
    display: grid;
}

.mediaImage{
    width: 100%;
    height: 100%;
}

.mediaDescription{
    grid-column: 2/3;
    grid-row: 2/3;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
    border: 1px solid steelblue;
    border-radius: 3px;

}

.mediaTitle{
    grid-column: 2/3;
    grid-row: 1/2;
    overflow-y: auto;
    padding: 5px;
    font-size: 16px;
    border: 1px solid steelblue;
    font-weight: bolder;
    color: aliceblue;
    border-radius: 3px;
}

/*scrollbar customization*/
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #313131;
}

*::-webkit-scrollbar-thumb {
    background-color: lightslategrey;
    border-radius: 3px;
}

#mediaOptions{
    grid-column: 2/3;
    grid-row: 3/6;
    border: 1px solid steelblue;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
}


#extraInfo{
    grid-column: 1/2;
    grid-row: 4/6;
    border: 1px solid steelblue;
    font-size: 14px;
    list-style-type: none; 
    padding: 10px; 
    margin: 0; 
    overflow-y: auto;
    border-radius: 3px;
}

input{
    background-color:dimgray;
    font-size: 14px;
    border-radius: 3px;
}

select{

}
.episodeProgress{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
}

.volumeProgress{
    grid-column: 2/3;
    grid-row: 1/2;
    
    
}

.mediaScore{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px;
}

.mySelect{
    background-color:dimgray;
    border-radius: 3px;
}

.statusItem{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10px;
    border-radius: 3px;
    padding: 0;
}

.myNotesItem{
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 10px;
    
}
.myNotes{
    width: 375px;
}

.startDateItem{
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 10px;
    
}

.completeDateItem{
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 10px;
}

.repeatItem{
    grid-column: 1/2;
    grid-row: 5/6;
    margin-left: 10px;
}

.repeatInput{
    width: 50px;
}

.dateInput{
    width: 130px;
}

.actionButtons{
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: right;
    justify-items: center;
    width: 80%;
    margin-right: 10px;
}

.submitButton{
    background-color: #284461;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    border: 1px solid deepskyblue;
}

.submitButton:hover{
    background-color: #0970df;
}
.cancelButton{
    background-color: #284461;
    border-radius: 3px;
    cursor: pointer;
}

.statusLabel{
    color: skyblue;
}

.repeatLabel{
    color: skyblue;
}

.startDateLabel{
    color: skyblue;
}

.finishDateLabel{
    color: skyblue;
}

.scoreLabel{
    color: skyblue;
}

.notesLabel{
    color: skyblue;
}

.episodeLabel{
    color: skyblue;
}

.chapterLabel{
    color: skyblue;
}

.volumeLabel{
    color: skyblue;
}

.notesLabel{
    color: skyblue;
}

#volumeInput{
    width: 50px;
}

#episodeInput{
    width: 50px;
}

#chapterInput{
    width: 50px;
}