/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

/*scrollbar customization*/
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #323232;
}

*::-webkit-scrollbar-thumb {
  // background-color: lightslategrey;
  background-color: deepskyblue;
  border-radius: 3px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 0.9;
}
