/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

$label-color: #ffffff;
$info-color: #e0e0e0;
$my-light-blue: #87ceeb;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

/*scrollbar customization*/
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #323232;
}

*::-webkit-scrollbar-thumb {
  background-color: deepskyblue;
  border-radius: 3px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 0.9;
}

.title {
  color: #87ceeb;
}

.label-information {
  color: $label-color;
}

.information {
  color: $info-color;
}

.label-information-tooltip {
  color: $label-color;
}

.information-tooltip {
  font-weight: 500;
}

.description {
  color: $label-color;
}

/* Use !important to override Material-UI styles */
.MuiNativeSelect-icon {
  display: none !important;
}

.Mui-disabled {
  border-color: #87beeb !important;
}
