$table-border-color: #4f4f4f;
$table-container-background: #121212;

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Calibri;
  table-layout: fixed;
}

thead {
  background: #1e3a5c; // #142F4C #0D223A #1A3556,
}

tbody tr:hover {
  background: #23272e !important; // #151617 original color
}

.selected-row:hover {
  background: #263447 !important;
}

tr {
  border-bottom: 1px solid $table-border-color;
}

th {
  padding: 4px;
  padding-left: 6px;
  text-align: start;
  border-right: 1px solid $table-border-color;
  font-size: 14px;
  font-weight: bold;
}

td {
  padding: 6px;
}

.container-table {
  border: 1px solid $table-border-color;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 4px;
  background: $table-container-background;
}

.media-table {
  text-align: center;
}
