table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Calibri;
  table-layout: fixed;
}

thead {
  background: #003151; //#2d383c#192428 #10142c #282424 262938 #151f30 #1e293b
}
// #1c2636
// 0d1c35

tbody tr:hover {
  background: #2e2e2e !important; // rgba(9, 152, 218, 0.637) !important;
}

.selectedRow:hover {
  background: #33485b !important; // #44505e rgba(9, 152, 218, 0.637) #343e49 #96aec5
}

tr {
  border-bottom: 1px solid #4f4f4f;
  // border-bottom
}

th {
  padding: 2px 4px;
  text-align: left;
}

td {
  padding: 6px;
}

.containerTable {
  border: 1px solid #4f4f4f;
  margin: 1rem auto;
  background: #171717; //  	#222021 #414c50 #2d383c 1d3067
}

.mediatables {
  margin: 1rem auto;
  text-align: center;
}
