<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>AniCour</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
